/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #e3e8ed; /* Gris apenas azulado */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal */
.container {
    background-color: #f2f4f7; /* Gris apenitas más claro */
    width: 80%;
    max-width: 1200px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* Logo y título */
header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

header h1 {
    color: #333;
    font-size: 2rem;
}

/* Contenido principal */
.content {
    display: flex;
    gap: 40px;
}

/* Sección de entrada */
.input-section {
    flex: 3;
    display: flex;
    flex-direction: column;
}

textarea {
    width: 100%;
    height: 350px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    color: #333;
    background-color: #f2f4f7; /* Gris apenitas más claro */
    outline: none;
    resize: none;
}

.note {
    margin-top: 10px;
    color: #333;
    font-size: 0.9rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1;
    margin: 0 10px;
    border: 2px solid #1f3b5b; /* Borde azul marino */
}

#encrypt-btn {
    background-color: #1f3b5b; /* Azul marino */
}

#encrypt-btn:hover {
    background-color: #1b334f;
}

#decrypt-btn {
    background-color: #d0e7f7; /* Blanco medio celeste */
    color: #1f3b5b; /* Texto azul marino */
}

#decrypt-btn:hover {
    background-color: #bcd9ee;
}

/* Sección de salida */
.output-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#output-text {
    height: calc(100% - 50px); /* Ajuste dinámico para el botón de copiar */
    border-radius: 8px;
    padding: 20px;
    font-size: 1rem;
    background-color: #ffffff; /* Blanco */
    color: #333;
    border: 2px solid #1f3b5b; /* Borde azul marino */
    resize: none;
}

#copy-btn {
    background-color: #ffffff; /* Blanco */
    color: #1f3b5b; /* Texto azul marino */
    border: 2px solid #1f3b5b; /* Borde azul marino */
    display: none;
}

#copy-btn:hover {
    background-color: #e1e1e1;
}
